* {
  box-sizing: border-box;
}

body,
html {
  padding: 0;
  margin: 0;
  border: 0;
  height: 100%;
  background: #e8ecf1;
  font-family: "Sora", sans-serif;
}

h2 {
  font-weight: 250;
  padding-bottom: 20px;
}

img {
  width: 100%;
  height: auto;
}

/* navbar */

.navbar {
  background: #ffffff;
  color: rgb(26, 26, 26);
}

.navbar-toggler {
  border: none;
  outline: none;
}

.navbar li {
  padding: 0 8px;
}

.navbar a {
  text-decoration: none;
  color: rgb(26, 26, 26);
}

.navbar-brand {
  padding-right: 5px;
}

.nav-item i {
  color: rgb(19, 19, 19);
}

.html-icon {
  padding-right: 10px;
}

/* about - typewriter */

#app {
  height: 68px;
  font-size: 35px;
  line-height: 70px;
  font-weight: 400;
}

/* about section */

#about-me {
  color: rgb(61, 61, 61);
  text-align: center;
  font-weight: 250;
  padding: 70px 30px 0 30px;
  max-width: 800px;
  margin: 0 auto;
}

.introduction-title {
  font-size: 17px;
  padding-bottom: 10px;
}

.skills-list {
  list-style: none;
  display: flex;
  gap: 20px;
  font-weight: 220;
  padding: 6px 0;
  justify-content: center;
}

/* footer */

.footer {
  text-align: center;
  background: #bcccd4;
  color: white;
}

.footer i {
  color: rgb(54, 54, 54);
  padding: 20px;
}

.footer-container {
  padding: 30px 0;
}

.copyright {
  padding-top: 40px;
}

@media only screen and (min-width: 1440px) {
  /* about - typewriter */

  #app {
    height: 80px;
    font-size: 55px;
    line-height: 78px;
    font-weight: 400;
  }

  /* about section */

  #about-me {
    padding-top: 100px;
    text-align: start;
    max-width: 100%;
  }

  .about-container,
  .projects-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 15px;
  }

  .introduction-title {
    font-size: 20px;
    padding-bottom: 10px;
  }

  .skills-container {
    font-size: 14px;
    padding-top: 8px;
  }

  .skills-list {
    padding: 0 0 30px 0;
  }

  .about-info {
    flex-basis: 30%;
  }

  .about-photo {
    width: 33%;
  }

  .skills-list {
    justify-content: flex-start;
  }

  .profile-photo {
    padding: 30px 50px 0 65px;
  }

  /* footer */
  .footer-container {
    padding: 50px;
  }
}
