* {
  box-sizing: border-box;
}

body,
html {
  padding: 0;
  margin: 0;
  border: 0;
  height: 100%;
  background: #e8ecf1;
  font-family: "Sora", sans-serif;
}

/* navbar */

.navbar {
  background: #ffffff;
  color: rgb(26, 26, 26);
}

.navbar-toggler {
  border: none;
  outline: none;
}

.navbar li {
  padding: 0 8px;
}

.navbar a {
  text-decoration: none;
  color: rgb(26, 26, 26);
}

.navbar-brand {
  padding-right: 5px;
}

.nav-item i {
  color: rgb(19, 19, 19);
}

.html-icon {
  padding-right: 10px;
}

@media only screen and (min-width: 1440px) {
}
